/*公共样式*/
			body,ul,li,p { margin:0; padding:0; list-style:none; }
			a { text-decoration:none; color:black; }
			input { border:0; }
			img { vertical-align:center; margin:0; padding:0; }
			/*导航*/
			#box>div>ul:after { content:""; display:table; clear:both; }
			#box { width:100%; height:40px; background:#E3E4E5; }
			#box>div { width:1220px; height:40px; margin:0 auto; margin:0 auto; }
			#box>div>.right>li,#box>div>.left>li,#box>div>.left { float:left; }
			#box>div>.left>li { margin:12px 10px 0 0; }
			#box>div>.right { float:right; }
			#box>div a { display:inline-block; font-size:13px; color:#999; text-decoration:none; font-family:"微软雅黑"; }
			#box>div a:hover { color:red; }
			#box>div>.right a { padding:13px 5px; margin:0 4px; }
			#box>div li { text-align:center; line-height:15px; height:15px; position:relative; }
			#box>div .shouye { width:70px; background:url("jindongshouyetu.png") no-repeat; text-align:right; }
			#box>div .didian { width:40px; background:url("jindongshouyetu1.png") no-repeat 0px -2px; text-align:right; }
			.wdjd { display:inline-block; width:8px; height:8px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; transform:rotate(45deg); margin:0 0 2px 4px; }
			#box>div>.right>.nihao1>a { color:red !important; }
			.c1:hover { background:#fff; }
			#box>div>.right li:before { content:""; width:1px; height:15px; background:#ccc; position:absolute; left:0px; top:12px; }
			#box>div>.right .nihao:before,#box>div>.right .nihao1:before { content:""; width:0px; height:0px; position:absolute; left:0px; top:12px; }

			/*搜索框*/
			#zg { padding-top:30px; width:1200px; height:70px; margin:0 auto; }
			.hsz { color:#c0c0c0; }
			#divv { float:left; }
			#divv>a { display:block; background:url('images/1.png') no-repeat; width:170px; height:70px; float:left;}
			#div1 { float:left; margin-left:20px;}
			#div1>div { float:left; line-height:35px;}
			#div1>div:nth-child(1) { font-size:20px; color:#5C5452; }
			#div1>div:nth-child(2) { font-size:12px; color:#5C5452; }
			 .buy>a {display:block;  width:69px; height:29px; text-align:center;  z-index:20; position:relative; border:1px solid #E3E4E5; padding:0; margin-left:10px; color:black;}
			.buy:hover>a { color:#c81622; border-bottom:0; }
			.buy>div{ position:absolute;  left:336px; width:200px; height:0; box-shadow:0 2px 5px ; z-index:9; background:#fff; transition:0.3s; overflow:hidden; }
			.buy:hover>div { height:100px; }
			#zg #div2 {width:455px; float:left; margin-left:100px;}
			#text { width:330px; height:30px; border:3px solid #CC2B54;}
			#submit { width:85px; height:38px; background:#CC2B54; position:absolute; color:#fff; font-size:18px; outline:0; }
			#div2>div { position:relative; }
			#div2>div>a { font-size:12px; }
			#div2>div>a:hover { color:#c81622; }
			input:focus~a{ display:none; }
			#a1 { position:absolute; padding:0 5px; font-size:14px; ; color:#757575; text-decoration:none; top:9px; left:4px;}
			#zg #right{ float:right; margin-right:30px;}
			#div3{ background:#E9EDEE; width:120px; height:38px; float:right;  text-align:center; font-size:14px; color:#757575; border:1px solid #c8c8c8;}
			#div3>img { padding-top:2px; }
			#div3>div{ position:absolute; top:110px; right:75px; width:119px; height:0; box-shadow:0 2px 5px ; z-index:9; background:#fff url('images/x.png') no-repeat center center; background-size:90px 90px; transition:0.3s; overflow:hidden; }
			#div4 { float:left; background: #E9EDEE; border:1px solid #c8c8c8; margin-right:20px;}
			#div4>a { margin-left:15px; display:block;  width:125px; height:40px; line-height:40px;  background: url('images/cheche.png') no-repeat 102px 10px; background-size:18px 18px; position:relative; z-index:20; color:#c81622; font-size:14px; }
			#div4>div{ position:absolute; right:68px; width:320px; height:0; box-shadow:0 2px 5px ; z-index:9; background:#fff; transition:0.3s; overflow:hidden; top:112px; }
			#div4:hover { background: #fff url('images/cheche.png') no-repeat 100px 100px; background-size:18px 18px; box-shadow:0 2px 5px;}
			#div4:hover>div,#div3:hover>div { height:100px; }

			/*3.图片轮播*/
			ul:after,#banner>div { content:""; display:table; clear:both; }
			.s11 { background:black; }
			#box11>div { width:100%; background:#2C2426; border-top:2px solid #DA1026; }
			#box1,#box2 { width:1200px; margin:0 auto; }
			#box1>li,#box2>li { float:left; text-align:center; position:relative; }
			#box1>li { height:50px; }
			#box1>li>a { padding:0 30px; height:50px; line-height:50px; display:block; position:relative; }
			#box2>li>a { padding:0 10px; height:40px; line-height:40px; font-size:12px; color:#fff; }
			#box2>li:hover>a { color:#DA1026; }
			#box1>li:hover>a { height:53px; background:#2C2426; color:#fff; }
			#box1>li>a>span:nth-child(1) { width:10px; height:0; border:1px solid #fff; position:absolute; top:18px; left:10px; }
			#box1>li>a>span:nth-child(2) { width:10px; height:0; border:1px solid #fff; position:absolute; top:23px; left:10px; }
			#box1>li>a>span:nth-child(3) { width:10px; height:0; border:1px solid #fff; position:absolute; top:28px; left:10px; }
			#box1>.l1>a { background:#2C2426; color:#fff; height:53px; }
			#banner { width:1200px; margin:0 auto; overflow:hidden; }
			#banner>div { width:500%; animation:play 10s infinite; }
			#banner>div>div { width:20%; float:left; }
			#banner>div>div>img { width:100%; max-height:515px; }
			@keyframes play{
				0% { margin-left:0; }
				5% { margin-left:-100%; }
				25% { margin-left:-100%; }
				30% { margin-left:-200%; }
				50% { margin-left:-200%; }
				55% { margin-left:-300%; }
				75% { margin-left:-300%; }
				80% { margin-left:-400%; }
				100% { margin-left:-400%; }
			}

			/*潮流享购*/
			#box3 {width:100%; height:600px; margin-top:40px; }
			#box3 .t1 { float:left; background:#F7F7FC; }
			#box3 .dd { margin:0 auto; width:1200px; height:560px; }
			h1 { margin-left:500px; display:inline-block; }
			#jc { float:right; display:inline-block; ; }
			.bs { width:404px; height:91px; display:block; position:relative; }
			.bs>div,.z { display:inline-block; } 
			.z { margin-top:-10px; }
			.zs { color:#CF2653; display:block; margin-top:5px; }
			.zsk { width:95px; height:91px; background:#e60f6a }
			.zsk>p:nth-child(1) { font-size:38px; font-weight:bold; color:white; text-align:center; }
			.zsk>p:nth-child(2) { font-size:16px; color:#cc99cc; text-align:center; }
			.zsk>p:nth-child(3) { font-size:12px; color:white; text-align:center; }
			.ws { display:block; width:190px; height:108px; background:#F7F7FC; margin-top:-16px; }
			.1h { display:left; }
			#box3 .t2 { width:190px; height:240px; float:left; margin-left:2px; }
			#box3 .jz { padding-top:26px; } 
			#box3 .jz,#box3 .jz1 { text-align:center; }
			.jz1 { color:#CF2653; margin-top:5px; }
			.tp:hover { opacity:0.6; }
			.zsk:hover { background: }
			.jz:hover { color:#cc99cc; }
			.z:hover { color:#cc99cc; }

			/*时尚大牌*/
			#nav { width:100%; margin-top:-25px; }
			#nav>div { width:1200px; margin:0 auto;  }
			.one1 { font-size:30px; text-align:center; width:1080px; float:left; margin-bottom:15px; }
			.one2 { text-align:center; float:right; margin-top:5px }
			#nav>div .two  { margin:10px 0; display:block; height:40px; }
			#nav>div .two>div { height:430px; float:left;  }
			#nav>div .two-1 { width:400px }
			#nav>div .two-2 { width:198px; position:relative;}
			#nav>div .two-2>.two-21 { width:140px; margin:0 auto; text-align:center; padding:10px 0 2px 0; }
			.two-21>a>p { margin-top:-20px; }
			.one2:hover,.two-21 a:hover { color:#ea3524; }
	    .two-2 .a1,.two-2 .a2 { width:50px; height:50px; background:#000;  text-align:center; line-height:50px; }
			.two-2 .a1 a,.two-2 .a2 a { color:#fff; }
			.two-2 .a1:hover,.two-2 .a2:hover { background:#ea3524; }
			.two-2 .a1 { position:absolute; left:0; bottom:110px; }
			.two-2 .a2 { position:absolute; left:0; bottom:165px; }
			.two-2 a .s1 { width:198px; margin-left:-26px; margin-top:-13px; background-size:30px;  }
			#s1 { margin-left:2px; }
			#nav .three { background:#F7F7FC; }
			#nav .three a { display:inline-block; margin-left:35px;  }
			#nav .three a img { height:40px; width:90px;  }

			/*京东自选*/
			body,ul,li{font-family:"微软雅黑";list-style:none;margin:0;padding:0;}
		#ziji p{margin:0;}
		a{text-decoration:none;}
		#ziji img{float:right;vertical-align:bottom;}
		#ziji img:hover{opacity:0.6;}
		#ziji li{float:left;}
		#ziji li>a{width:99px;height:30px;line-height:30px;padding:5px 5px;text-align:center;background:#f7f6fc;color:#000;display:block;}
		#ziji li:hover a{background:#000;color:#fff;}
		 #ziji {width:100%; }
		 #ziji .d1 {width:1200px;font-size:30px;text-align:center;margin:auto;margin-top:20px;}
		 #ziji .d2 {width:1200px;margin:auto;}
		 #ziji .d2>div{float:right;height:20px;line-height:30px;padding:0 10px 10px 10px;margin-left:442px;font-size:12px;}
		 #ziji .d3{width:1200px;height:455px;margin:auto;}
		 #ziji .d4{width:1200px;height:455px;margin:auto;}
		 #ziji .d5{width:400px;height:455px;float:left;}
		 #ziji .d6{width:400px;height:147px;}
		 #ziji .d7{width:400px;height:294px;}
		 #ziji .p1{font-size:18px;margin:40px 0px 0px 30px;}
		 #ziji .p1>a{color:#000;}
		 #ziji .p1>a:hover{color:#cc2b54;}
		 #ziji .p2{font-size:14px;margin-left:30px;color:#cc2b54;}
		 #ziji .s1{width:60px;font-size:12px;margin:2px 0 2px 30px;background:#cc2b54;color:#fff;text-align:center;display:block;}

			/*男装内衣*/
			#nz {width:1200px; margin:0 auto; height:660px;}
			#nz .left{width:400px; height:545px; background:#F7F6FC; float:left; position:relative;}
			#nz .left>.name{height:108px; width:400px; background:#3172C9;}
			#nz .left>.name h3{margin-left:20px; }
			#nz .left>.name h4{color:#bebebe; font-size:12px; font-weight:normal; margin-left:20px; margin-top:-18px;}
			#nz .left>.name a{width:100px; height:40px; color:#fff; font-size:30px; font-weight:normal;  }
			#nz .left>.name a>span{background:url(jd/sprite.png) no-repeat -383px -258px; display:inline-block; width:25px;height:25px;}
			#nz .left>.name a>span:hover{background:url(jd/sprite.png) no-repeat -437px -258px;}
			#nz .left .nt{color:#bebebe; }
			#nz .left>.brand{width:140px; height:380px; margin-top:50px; margin-left:10px; }
			#nz .left>.brand .bword{margin-bottom:10px;}
			#nz .left>.brand .bword>div:nth-child(1){color:#3172C9; font-size:20px;}
			#nz .left>.brand .bword>div:nth-child(2){color:#3172C9; font-size:12px;}
			#nz .left>.brand .lx{background:#fff; display:inline-block; width:110px; height:110px; font-size:12px;}
			#nz .left>.brand .lx:hover{color:#3172C9;}
			#nz .left>.brand .lx>img{display:inline-block; width:80px; height:80px;}
			#nz .left .image{position:absolute; top:71px; left:119px; }
			#nz .center{width:540px; height:545px; float:left; border:1px solid transparent; border-top:5px solid #3172C9; }
			#nz .ctop>div,.cbottom>div{width:178px; height:270px; border:1px solid #d3d3d3; float:left;}
			#nz .center .ca{display:inline-block; }
			#nz .center .ca>span{display:block; text-align:center; }
			#nz .center .ca>.s1{color:#3172C9; font-size:20px;margin-top:20px;}
			#nz .center .ca>.s2{font-size:12px; color:#666; margin-top:5px;}
			#nz .center .ca>.s3{font-size:12px; color:#fff; background:#3172C9; width:85px; margin-left:40px; margin-bottom:10px;}
			#nz .right{width:220px; height:545px; border-top:5px solid #3172C9; float:left; margin-left:-1px;}
			#nz .right>.rtop{height:80px; width:90%; border-bottom:1px solid #d3d3d3; font-size:20px; margin:0 auto; text-align:center; line-height:80px;}
			#nz .right>.rbottom>div{height:100px; width:80%; margin:0 auto; margin-top:20px; margin-left:50px; }
			#nz .right .rbleft>a{width:77px; height:77px; display:inline-block; border-radius:50%; background:#F7F6FC; font-size:12px; text-align:center; margin-left:5px;}
			#nz .right .rbright{margin:5px 1px 0px 30px;}
			#nz .right .rbright>a{ display:block; font-size:12px; text-align:center; margin-top:6px;}
			#nz .right .rbleft, .rbright{float:left;}
			#nz .right a:hover{color:#3172C9;}
			#nz img:hover{opacity:0.6;}

			 /*女装内衣*/
		 .nav8{width:1200px;height:600px;margin:0 auto;border-top:3px solid #F44061; margin-top:100px;}
		 #nv1{width:1200px;height:500px;border:1px solid transparent;}
		 #nv2{width:1200px;height:90px;border:1px solid transparent;margin-top:10px;}
		 #nv2>img{width:133px;height:90px;float:left;vertical-align:bottom;}
		 #nv2>img:hover{opacity:0.6;}
		 #nv3{width:260px;height:500px;border:1px solid transparent;float:left;}
		  #nv1>div:nth-child(2){width:190px;height:500px;border:1px solid transparent;float:left;margin-left:140px;}
	  	#nv1>div:nth-child(3){width:190px;height:500px;border:1px solid transparent;float:left;}
			#nv1>div:nth-child(4){width:190px;height:500px;border:1px solid transparent;float:left;}
			#nv1>div:nth-child(5){width:220px;height:500px;border:1px solid transparent;float:left;}
			#nv3>div:nth-child(1){width:402px;height:93px;background:#f44061;margin-top:-3px;margin-left:-2px;}
			#nv3>div>p:nth-child(1){font-size:32px;color:#fff;font-family:微软雅黑;margin:0;margin-left:20px;}
      #nv3>div>p:nth-child(2){font-size:12px;color:#fff;font-family:微软雅黑;color:#f197a7;margin-left:20px;}
			#nv3>div>p>img{}
			#nv3>div:nth-child(2){width:402px;height:407px;background:#f7f6fc;}
			#nvimg1{margin-top:20px;display:block;width:115px;height:100px;margin-top:-3px;}
			#nvimg1:hover{opacity:0.6;}
			#nvp1,h1{color:red;margin-left:20px;}
			#nv4>div{width:190px;height:250px;border:1px solid transparent;}
			#nvp2{font-size:20px;color:red;font-family:微软雅黑;text-align:center}
			#nvp3{font-size:12px;color:#afafaf;font-family:微软雅黑;text-align:center;margin-top:-10px;}
			#nv5{margin:0 auto;background:#f44061;width:90px;font-size:12px;color:#fff}
			#nvimg2{margin-left:15px;}
			#nvimg2:hover{opacity:0.6;}
	   #nvimg4{margin-left:35px;}
		 #nvimg4:hover{opacity:0.6;}
			#nv6>div:nth-child(1){font-size:20px;font-family:微软雅黑;font-weight:bold;text-align:center;width:220px;height:70px;border:1px solid transparent;line-height:70px;}
			#nv6>div{width:220px;height:105px;border:1px solid transparent;}
			#nv6>div>div{float:left;}
      #nv6>div>div:nth-child(2){margin-left:20px;margin-top:-8px;}
			#nv7{margin-left:-0px;}
			#nv8>P{margin-left:10px;font-size:12px;}
      #nv8>P:hover{color:red;}
			#nv9{margin-left:10px;}
			#nv10>P{font-size:12px;}
			#nv10>P:hover{color:red;}
			#nv11{margin-left:10px;}
			#nv12>P{margin-left:-0px;font-size:12px;}
			#nv12>P:hover{color:red;}
			#nvp5{font-size:12px;}
			#nvp5:hover{color:red;}
			#nvimg3{margin-left:160px;margin-top:-450px;}
			#nvimg3:hover{opacity:0.6;}
			.img1:hover{opacity:0.6;}
			#nv55{margin:0 auto;background:#f44061;width:50px;font-size:12px;color:#fff}
     #nv66{margin:0 auto;background:#f44061;width:50px;font-size:12px;color:#fff}
		 #nv77{margin:0 auto;background:#f44061;width:60px;font-size:12px;color:#fff}
		 #nv10>img:hover{opacity:0.6;}

		/*精品鞋靴*/
		 #box4 { width:100%; height: 650px; background:#fff; }
			.content { width:1200px; height:545px; margin:50px auto; border-top:3px solid #edb133; }
			.rtopb>a { text-align:center; }
			.content>div,.content .mtop>div,.content .mbottom>div { float:left; }
			.content>.left { width:405px; }
			.content .ltop { height:108px; background:#edb133; }
			.content .ltop:hover { opacity:0.6; } 
			.content>.left a { display:block; margin-left:20px; }
			.content>.left .altitle { font-size:30px; color:#fff; margin-top:10px; }
			.content>.left .altitle span { display:inline-block; width:25px; height:25px; border-radius:50%; background:#fff; color:#edb133; font-size:20px; }
			.content>.left .alshoe { font-size:12px; color:#fff; }
			.content .middle>div { height:272px; }
			.content .middle>.aimg { display:inline-block; width:203px; height:166px; margin-top:5px; }
			.content .mtop>div,.content .mbottom>div { border-right:1px solid #f7f6fc; width:205px; }
			.content .middle>img { width:205px; }
			.content .middle p { text-align:center; margin:6px;  }
			.content .middle .pfk { margin-bottom:21px; }
			.content .middle .ayellow { color:#edb133; font-size:22px; }
			.content .middle .ayellow:hover { color:orange; }
			.content .middle .agray { color:#b0b0b0; font-size:14px; }
			.content .middle .afk { color:#fff; font-size:12px; display:inline-block; background:#edb133; }
			.content .middle .afk:hover { color:#edb133; background:#fff; }
			.content>.right1 { width:177px; }
			.content>.right1>div { height:272px; }
			.content>.right1 .prtitle { font-size:22px; margin:6px 0 30px 0; text-align:center; }
			.content>.right1 .prtitle:hover { color:#b0b0b0; }
			.content>.right1 a { display:inline-block; width:70px;height:70px; background:#f7f6fc url('images/8 (2).png') no-repeat; background-size:48px 48px; border-radius:50%; line-height:120px; font-size:14px; margin-top:5px;}
			.content>.right1 a:hover { opacity:0.6; }
			.content>.right1 .rbottom>div,.content>.right .rtop>div { text-align:center; }
			.content>.right1 .rtop { border-bottom:1px solid #f7f6fc; }

			/*精品运动*/
			#box5 { width:1200px; height:670px; border-top:3px solid #66c112; margin:0 auto; margin-top:50px; }
			#box5 #one { width:400px; height:540px; float:left; position:relative; }
			#box5 #one .d1 { width:380px; height:82px; background:#66c112; padding:23px 0 0 20px; color:#fff; }
			#box5 #one .d1 .p1 { font-size:32px;  }
			#box5 #one .d1 .p2 { font-size:13px; opacity:0.5; }
      #box5 #one .d1 img { vertical-align:middle; } 
			#box5 #one .d2 { width:400px; height:385px; background:#f7f6fc; padding-top:50px; }
      #box5 .mang>#m1,.mang>p { margin-left:20px; }
			#box5 .mang>#m1 { margin-bottom:10px; }
			#box5 .mang>.p3  { font-size:26px; color:#66c112; }
			#box5 .mang>.p4  { font-size:14px; color:#66c112; margin-bottom:23px; }
			#box5 #one .d2 #m { position:absolute; top:70px; right:0px; }
			#box5 #two { width:600px; height:540px; position:relative; float:left; color:#66c112; }
      #box5 #two ul li { width:197px; height:259px; border-right:1px solid #f7f6fc; border-bottom:1px solid #f7f6fc; float:left; text-align:center; padding-top:10px; }
			#box5 #two a { color:#66c112; }
			#box5 #two ul li .p5 { font-size:18px; }
			#box5 #two ul li .s1 { font-size:12px; color:#fff; background:#66c112; padding:0 5px; }
      #box5 #two ul li #m3 { margin-top:65px; }
			#box5 #two img:hover { margin-left:-3px; transition:0.5s; }
			#box5 #three { width:170px; height:540px; position:relative; float:right; color:#333; padding:0 15px; }
      #box5 #three .p6 { width:170px; height:80px; font-size:22px; border-bottom:1px solid #f7f6fc; text-align:center; line-height:80px; }
			#box5 #three .d3 { margin-top:20px; }
			#box5 #three .d3 .d31 { margin-bottom:35px; }
			#box5 #three .d31>a {  width:76px; height:76px;  border-radius:50%; font-size:14px; display:inline-block; text-align:center; line-height:125px; }
			#box5 #three .d31 a:hover { color:#66c112; }
			#box5 #three .yuan1 { background:#f7f6fc url("image/17.png") no-repeat 11px 0px; }
			#box5 #three .yuan2 { background:#f7f6fc url("image/18.png") no-repeat 11px 0px; }
			#box5 #three .yuan3 { background:#f7f6fc url("image/19.png") no-repeat 11px 0px; }
			#box5 #three .yuan4 { background:#f7f6fc url("image/20.png") no-repeat 11px 0px; }
			#box5 #three .d3 .zi { display:inline-block; margin-left:15px; }
			#box5 #three .d3 .zi .z { display:block; font-size:12px; margin-bottom:10px; }

			/* 户外大牌 */
			#outdoor { width:1200px; margin:50px auto; border-top:4px solid #00b0ba; background:#fff; }
			#outdoor .b,.c,.d { float:left; }
			#outdoor .b { width:415px; height:565px; } 
			#outdoor .b1 { height:110px; background:#00b0ba; }
			#outdoor .b1 span:first-child { font-size:34px; width:400px; padding:25px 0 0px 15px; }
			#outdoor .b1 span:last-child { font-size:14px; width:400px; padding-left:15px; color:#6dd9de;}
			#outdoor .b2 { height:455px; background:#f8f6f8; position:relative;  }
			#outdoor .img1 { position:absolute; top:-19px; right:0; }
			#outdoor .img2 { position:absolute; top:28px; left:13px; }
			#outdoor .b21 { width:115px;height:115px; position:absolute; top:220px; left:1px; background:#fff; }
			#outdoor .b22 { width:115px;height:115px; position:absolute; top:337px; left:1px; background:#fff; }
			#outdoor .b2>div span { width:115px; height:26px; font-size:14px; text-align:center; }
			#outdoor .b21 a,.b22 a { color:#000; }
			#outdoor .b21 a:hover,.b22 a:hover{ color:#00b0ba; }
			#outdoor .img3,.b2>div>div { position:relative; z-index:99; }
			#outdoor .c,.d { height:565px; }
			#outdoor .c>div { width:588px; height:282px; }
			#outdoor .c>div>div { float:left; width:195px; height:282px; border-right:1px solid #f8f6f8;}
			#outdoor .c>div>div span { text-align:center; }
			#outdoor .c1 { color:#00afba; font-size:22px; font-weight:bold; padding:30px 0 5px 0; display:block; text-align:center; }
			#outdoor .c2 { color: #9e9a9e; display:block; text-align:center; }
			#outdoor .c3 { background:#fff; font-size:12px; background:#00afba; width:80px; margin:10px auto 0;  display:block; text-align:center; }
			#outdoor .border { border-bottom:1px solid #f8f6f8;}
			#outdoor .d1 { width:180px; height:84px; padding:0 8px; text-align:center; line-height:84px; border-bottom:1px solid #f8f6f8; font-size:22px;  }
			#outdoor .d2 { width:180px; height:120px; padding:0 8px; }
			#outdoor .d2>div { float:left; width:90px; height:120px; }
			#outdoor .d2>div a{ display:block; height:30px; color:#000; line-height:30px; font-size:14px; }
			#outdoor .d3 { margin-top:15px; }
			#outdoor .d2 a:hover { color:#00b0ba; }
			#outdoor .logo { height:105px; background:#f8f6fb; padding:0 82px; }
			#outdoor .logo li { float:left; }
			#outdoor .logo li:hover,img:hover { opacity:0.6; transition:0.3s;}
			#outdoor .img2:hover,.img3:hover,.img4:hover { opacity:1 !important; }

			/*精品箱包*/
			#t,#xb{width:1200px;height:545px;margin:0 auto; margin-top:30px; }
		#xb .shang{width:430px;height:541px;float:left;position:relative;background:#F7F6FC}
		#xb .shang3>div>div{width:200px;height:270px;border:2px solid #ccccff;float:left;border-top:0;border-left:0;}
		#xb .shang3{float:left}
		#xb .right{width:159px;height:540px;float:right;}
		#name{background:#C45EDB; height:100px;width:410px;color:#ffffff;font-size:33px;padding-left:20px}
		#xb h4{font-size:13px;color:#DDA1EA;}
		#xb a{text-decoration:none;color:#000000;font-size:10px}
		#xb .tu1{width:280px;height:470px;position:absolute;left:151px;top:64px;}
		#xb .tu2>div{width:110px;height:110px;margin-top:20px}
		#xb .tu2{background:#ffffff;padding:20px}
		#xb .ql{font-size:26px;color:#C45EDB}
		#xb .shang3>div{text-align:center}
		#xb .k1{font-size:22px;color:#C45EDB}
		#xb .k2{color:#B49C9C;font-size:14px;}
		#xb .k3{background:#C45EDB;font-size:12px;color:#ffffff}
		#xb .right1{font-size:22px;text-align:center;}
		#xb .right2{height:70px;width:70px;background:#ccccff;border-radius:50%;float:left;margin-top:50px;margin-right:5px}
		 #k1:hover{opacity:0.6}
		#xb .right2:hover{opacity:0.6}
		#xb .a1{margin-left:20px;font-size:10px}
		#t:hover{opacity:0.6}

		/*珠宝*/
		#zb { width:1200px; height:650px; margin:0 auto; margin-top:90px; }
			#zb>#dd { width:1200px; height:546px; margin-bottom:3px;float:left; }
			#zb #div2 { width:1200px; height:100px; }
			#zb #left { width:400px;height:545px;float:left; }
			#zb #middle { width:600px;height:545px;border-top:2px solid #37ad69;float:left; }
			#zb #right { width:200px;height:545px; border-top:2px solid #37ad69;float:left; text-align:center;}
			#zb #top { width:400px;height:110px;background:#37ad69; }
			#zb #bottom{ width:400px;height:435px;background:#f7f6fc; }
      #zb .tl1{ padding-top:20px;padding-left:20px;font-size:32px;color:#fff;font-weight:500; /* background:#37ad69; */}
			#zb .tl1 span{display:inline-block; width:25px; height:25px; border-radius:50%; background:#fff; color:#37ad69;line-height:25px;text-align:center;}
			#zb .tl2{ padding-left:20px;padding-top:5px;font-size:14px;color:#00cc99;/* font-style:0px 2px 5px 1px #006666;  */}
			#zb #bottom li{ float:left; position:relative; }
			#zb .bl1{ width:140px;height:110px;padding:10px 0; }
			#zb .d1{ width:140px;height:153px;margin:20px 0; }
			#zb .d2{ width:140px;height:231px; text-align:center; }
			#zb .d2 p{width:140px;height:115px;font-size:12px;background:#fff;line-height:60px;text-align:center;}
			#zb .d2 p a{display:block;}
			#zb #bottom { position:relative; }
			#zb .d2 p:nth-child(1){ border-bottom:1px solid #f6f7fc; }
			#zb .bl2 { position:absolute; top:-12px; left:0; }
			#zb .bl2 img{ width:257px;height:448px; top:98px;left:218px;z-index:20;}
			#zb #middle ul{ width:600px;height:270px;float:left;}
      #zb #middle ul li{width:199px;height:269px;border-right:1px solid #f7f6fc;border-top:1px solid #f7f6fc;text-align:center;float:left;}
			#zb .mp1{color:#37ad69;font-size:22px;font-weight:500;margin-top:20px;margin-bottom:5px;}
			#zb .mp2{color:#c0c0c0;font-size:12px;margin-bottom:5px;}
			#zb .mp3{display:inline-block; color:#fff;font-size:12px;background:#37ad69; text-align:center;margin-bottom:10px;}
			#zb #right li{float:left;}
			#zb .ul1{font-size:22px;font-weight:400;margin:20px 0 20px 30px;}
			#zb .uu1 li{width:66px;height:66px;float:left; border-radius:50%;background:#f7f6fc;margin-bottom:20px;margin-left:20px;}
			#zb .uu1 p{font-size:12px;}
      #zb .ru1{ width:180px;height:270px;border-bottom:1px solid #f7f6fc; float:left; }
			#zb .ru2{ width:180px;height:270px;}

			/*儿童*/
			#et { width:1200px; height:600px; margin:0 auto; position:relative; border-top:2px solid #29C2C1; margin-top:30px; }
		#et>.fc { width:296px;height:465px;border:1px solid transparent; }
		#et>.sc { margin:0 auto;width:532px; height:468px; border-left:1px solid transparent; position:absolute; left:342px; top:-2px; }
		.sc:nth-child(1) { width:134px;height:421px; position:absolute; left:0;top:0; border:1px solid transparent; }
		.sc:nth-child(2) { width:134px;height:421px; position:absolute; left:134px;top:0; border:1px solid transparent; }
		img:hover { opacity:0.6; }
		#et .left{ float:left; margin:0 20px; }
		#et .right{ position:absolute; top:0; right:-133px; margin:0 20px;  }
		#et .center { position:absolute; top:0; left:181px; margin:0 54px;  }
		.left>div,.right>div>,.center>div { width:112px; height:250px; margin:5px; }
		#et .rm { border:1px solid transparent; width:161px; height:467px; position:absolute; right:-352px; top:0; }
		#et .footer { border:1px solid transparent; width:1226px; height:134px; position:absolute; bottom:-136px; left:-344px;  overflow:hidden; }
		#et .footer img { width:1220px; }
		#et .a { font-size:18px; color:#29C2C1; text-align:center; }
		#et .desc{ background:#29C2C1; color:#fff; width:74px; height:23px; line-height:23px; text-align:center; margin:0 auto; }

		/*奢品*/
		#sp img:hover{opacity:0.6;}
		#sp {border-top:2px solid #60487D;}
		 #sp{width:1200px; margin:0 auto;}
		 #sp>.top>.left{float:left; width:30%;}
     #sp>.top>.left>.top{background:#60487D; height:140px; width:351px; }
     #sp>.top>.left>.top .a1{font-size:30px; line-height:38px; width:160px; margin-top:30px; color:white; margin-left:20px;}
     #sp>.top>.left>.top span{width:25px; height:25px; background:white; border-radius:50%; display:inline-block;  }
     #sp>.top>.left>.top span .d1{border:1px solid #a0a0a0; width:0px; height:8px; transform:rotate(-36deg); margin-left:12px; margin-top:4px;}
		 #sp>.top>.left>.top span .d2{border:1px solid #a0a0a0; width:0px; height:8px; transform:rotate(60deg); margin-left:12px; margin-top:-3px;}
		 #sp>.top>.left>.top>div{color:#AEA2BC; margin-left:20px;}
     #sp>.top>.left>.bottom .i2{margin-left:-7px;margin-top:-2px;}
		 #sp>.top>.left>.bottom a{margin-top:-1px;}
		 #sp>.top>.right{width:70%;float:left;}
		 #sp>.top>.right>div{width:209px; border-right:1px solid #a0a0a0; border-bottom:1px solid #a0a0a0; height:527px; float:left;}
		 #sp>.top>.right>div>div{height:263px; border-bottom:1px solid #a0a0a0;}
		 #sp>.top>.right .i3{margin-left:60px; margin-top:16px;}
		 #sp>.top>.right .d3{font-size:18px; color:#8A779F; margin:10px 0 10px 25px;}
	   #sp>.top>.right .d4{font-size:12px; color:white; background:#60487D; margin:2px 0 10px 48px; width:86px; text-align:center;}
		 #sp>.top>.right .i4{margin-left:20px; margin-top:16px;}
		 
		 #sp>.top>.right .i5{margin-left:60px; margin-top:16px;}
		 #sp>.top>.right .d5{font-size:18px; color:#8A779F; margin:10px 0 10px 42px;}
	   #sp>.top>.right .d6{font-size:12px; color:white; background:#60487D; margin:-2px 0 10px 48px; width:98px; text-align:center; padding-bottom:4px;}
		 #sp>.top>.right .i6{margin-left:20px; margin-top:-14px;}
		 
		 #sp>.top>.right .i7{margin-left:60px; margin-top:16px;}
		 #sp>.top>.right .d7{font-size:18px; color:#8A779F; margin:10px 0 10px 25px;}
	   #sp>.top>.right .d8{font-size:12px; color:white; background:#60487D; margin:10px 0 10px 48px; width:98px; text-align:center; padding-bottom:4px;}
		 #sp>.top>.right .i8{margin-left:50px; margin-top:-4px; height:140px;}

		 #sp>.top>.right .i9{margin-left:60px; margin-top:16px;}
		 #sp>.top>.right .d9{font-size:18px; color:#8A779F; margin:10px 0 10px 25px;}
	   #sp>.top>.right .d10{font-size:12px; color:white; background:#60487D; margin:9px 0 10px 48px; width:98px; text-align:center; padding-bottom:4px;}
		 #sp>.top>.right .i10{margin-left:12px; margin-top:13px; height:100px;}

		 #sp>.top>.right .i11{margin-left:60px; margin-top:16px;}
		 #sp>.top>.right .d11{font-size:18px; color:#8A779F; margin:10px 0 10px 25px;}
	   #sp>.top>.right .d12{font-size:12px; color:white; background:#60487D; margin:6px 0 10px 48px; width:98px; text-align:center; padding-bottom:4px;}
		 #sp>.top>.right .i12{margin-left:12px; margin-top:13px; height:100px;}

		 #sp>.top>.right .i13{margin-left:60px; margin-top:16px;}
		 #sp>.top>.right .d13{font-size:12px; color:white; background:#60487D; margin:52px 0 10px 48px; width:98px; text-align:center; padding-bottom:4px;}
		 #sp>.top>.right .i14{margin-left:41px; margin-top:20px; height:100px;}
		 #sp>.top>.right .hot{font-size:25px; text-align:center; margin-top:20px; margin-bottom:30px; border-bottom:1px solid gray; padding-bottom:30px;}
		 #sp>.top>.right .hot1{margin-top:-24px; margin-left:30px; border:0; }
	   #sp>.top>.right .hot2{margin-left:30px; margin-bottom:8px;}
		 .hot3{margin-left:44px; color:gray;}

		 #sp>.top>.right .hot4{margin-top:19px; margin-left:30px; border:0; }
	   #sp>.top>.right .hot5{margin-left:80px; margin-bottom:8px;}
		 #sp>.top>.right .hot6{margin-left:18px; color:gray;}

     #sp .bottom1>div{background:#F7F6FC;margin-top:6px; }
     #sp>.bottom1 a{margin-top:14px;}
		 #sp>.bottom1 img{padding:10px; width:60px; height:50px; margin-left:42px;}

		
		#wb { width:1200px; height:612px; border-top:4px solid #664e68; margin:20px auto; }
		#wb .two { width:1198px; height:510px; position:relative; }
		#wb .three { width:1198px; height:90px;background:#f7f6fc;}

		#wb .t1 { width:376px; height:515px; float:left; }
			#wb .t1>div:nth-child(1) { height:100px; width:376px; background:#664e68; }
      #wb .t1>div:nth-child(2):hover { opacity:0.6; transform:3s; }
      #wb .t1>div:nth-child(3):hover { opacity:0.6; transform:3s; }
			#wb .t1>div:nth-child(2) { height:413px; width:187px; background:url("images/x1.jpg")no-repeat; background-size:187px 413px; margin:0 2px 2px 0; float:left; border-bottom:2px solid white; }
			#wb .t1>div:nth-child(3) { height:413px; width:187px; background:url("images/x2.jpg")no-repeat; background-size:187px 413px; margin-bottom:2px;  float:left;  border-bottom:2px solid white; }
			#wb .p1 { display:block;  margin:20px 0 20px 20px; font-size:33px; color:white; }
			#wb .p1:hover { color:red; }
			#wb .t11 { width:20px; height:20px;background:white url("images/11.jpg")no-repeat 2px 4px; border-radius:50%; position:absolute; top:34px; left:154px; }
			#wb .t12 { width:50px; height:20px;background:white url("images/12.jpg")no-repeat; position:absolute; top:62px; left:23px; }
		#wb .t2 { width:822px; height:515px; float:left; }
		  #wb .t21 { width:615px; height:514px; float:left; }
			#wb .t21>div { width:204px; height:256px; float:left; border-right:1px solid #f7f6fc; }
			#wb .t21>div:nth-child(1) { border-bottom:1px solid #f7f6fc; }
			#wb .t21>div:nth-child(2) { border-bottom:1px solid #f7f6fc; }
			#wb .t21>div:nth-child(3) { border-bottom:1px solid #f7f6fc; }
			#wb .t211 img {display:block; width:100px; height:35px;margin:10px auto; }
			#wb .p2 { display:block;  font-size:20px; color:#664e68; margin:10px auto;text-align:center; }
			#wb .p2:hover { color:red; }
			#wb .t212,#wb .t213,#wb .t214,#wb .t215,#wb .t216,#wb .t217 { height:152px; width:150px; margin:auto; margin-top:23px; }
			#wb .t212 { background:url("images/b1 (2).jpg")no-repeat -11px 0; background-size:173px 152px; }
      #wb .t212:hover { opacity:0.6; transform:3s;  }
			#wb .t213 { background:url("images/b2 (2).jpg")no-repeat -11px 6px; background-size:174px 148px; }
      #wb .t213:hover { opacity:0.6; transform:3s;  }
			#wb .t214 { background:url("images/b3 (2).jpg")no-repeat -14px 5px ; background-size:164px 148px; }
      #wb .t214:hover { opacity:0.6; transform:3s;  }
			#wb .t215 { background:url("images/b4 (2).jpg")no-repeat; background-size:150px 152px; }
      #wb .t215:hover { opacity:0.6; transform:3s; }
			#wb .t216 { background:url("images/b5 (2).jpg")no-repeat; background-size:150px 152px; }
      #wb .t216:hover { opacity:0.6; transform:3s; }
			#wb .t217 { background:url("images/b6.jpg")no-repeat; background-size:150px 152px; }
      #wb .t217:hover { opacity:0.6; transform:3s; }
		  #wb .t22 { width:205px; height:514px; float:left; position:relative; }
			#wb .t22>div:nth-child(1) { width:195px; height:235px; border-bottom:1px solid #f7f6fc; margin:0 5px;}
			#wb .t22>div:nth-child(2) { width:205px; height:256px; }
			#wb .t221 { width:150px; height:150px; border-radius:50%; background:#f7f6fc; margin:28px auto; }
			#wb .imgs {position:absolute; top:62px; right:7px; }
			#wb .imgs:hover { opacity:0.6; transform:3s; }
			#wb .imgs1 {position:absolute; top:346px; right:10px; }
			#wb .imgs1:hover { opacity:0.6; transform:3s; }
			#wb .a1,#wb .a2,#wb .a3,#wb .a5,#wb .a4,#wb .a6{ color:#664e68; position:absolute;  }
			#wb .a1 { top:100px; left:50px;  }
			#wb .a2 { top:124px; left:50px; }
			#wb .a3 { top:160px; left:50px; opacity:0.6; }
			#wb .a4 { top:345px; left:50px;  }
			#wb .a5 { top:369px; left:50px;  }
			#wb .a6 { top:414px; left:50px; opacity:0.6; }

			#wb .t23 { width:36px; height:18px;background:#664e68; position:absolute; top:320px; left:50px; }
			#wb .t24 { position:absolute; top:328px; left:50px; border:8px solid transparent; border-left:8px solid #664e68;  }
			#wb .t23 p { color:white; font-size:11px;text-align:center; }
			#wb .p3 { font-size:20px; color:#664f67; margin:10px auto;text-align:center; font-weight:bold; display:block; }
			#wb .p3:hover { color:red; }
		#wb .three div { width:1100px; height:40px; margin:2px auto; padding:25px 0;}
		#wb .three div div { float:left; width:112px; height:60px; margin:0 4px; }
		#wb .three div div img { width:112px; height:40px; }

		/*猜你喜欢*/
		.jd17-1-1>img:hover { opacity:0.6; }
		.jd17-1-1:after { content:""; display:table; clear:both; }
		.jd17 { width: 1200px; height: 70px; text-align:center; font-size: 30px; line-height: 70px; color: #333; background:#fff; }
		.jd17-1 { width: 100%; height: 300px; background:#f7f6fc; }
		.jd17-1>.jd17-1-1 { width: 1200px; height: 255px; margin:0 auto ; padding-top:30px; }
		.jd17-1>.jd17-1-1>.a1,.jd17-1>.jd17-1-1>.a2 { width: 185px; height: 255px; float:left; margin-left:18px; }
		.jd17-1>.jd17-1-1>.a1>.img { width: 185px; height: 190px; }
		.jd17-1>.jd17-1-1 a { color:#333; }
		.jd17-1>.jd17-1-1 a:hover {color:#cc0033; }
		.jd17-1>.jd17-1-1 p { font-size:14px; color:#cc3333; }

		/*猜你喜欢2*/
		#cnxh2 { width:100%; height:300px; background:#f7f6fc; }
		#cnxh2>#fd { width:1200px; margin:0 auto; padding-top:30px;}
		#fd>div { float:left; margin-left:14px; }
		.zt,.zt2 { width:185px; height:40px; overflow:hidden; font-size:13px; color:#7b666b; margin-top:10px;line-height:20px;  }
		.zt2:hover { color:#cc2954; }
		#cnxh2 img:hover { opacity:0.6; }

		/*猜你喜欢3*/
		#cnxh3 .three li { width:186px; height:260px;  float:left; }
		#cnxh3 .three li:not(#four) { margin-left:15px; }
		#cnxh3 { width:100%; height:300px; background:#F7F6FC; }
		#cnxh3 .two a .p1 { font-size:12px; color:black; }
		#cnxh3 .two a .p2 { font-size:16px; color:#CC2954; }
		#cnxh3 .three { width:1200px; height:260px; margin:15px auto; }
		#cnxh3 a .p1:hover { color:#CC2954; }
		#cnxh3 a img:hover { opacity:0.6; }

		/*猜你喜欢4*/
		.cnxh4 {width:100%; background:#F5F5F5; }
		.cn { width:1200px; height:300px; margin:0 auto; }
		.cn:after { content:""; display:table; clear:both; }
		.cn>div { float:left; width:190px; height:260px; font-size:12px;margin:10px 10px 0 0; }
		.price { color:#e4393c; }
		.cn>div>a>img:hover { opacity:0.6; }
		.cn>div>p:not(.price):hover { color:#e4393c; cursor:pointer; }
		.cn>div>a>p:hover { color:#e4393c; }

		/*品类齐全*/
		#pl { width:100%; height:250px; background:#fff; }
		#pl .pl1 { width:100%; height:90px; background:#f5f5f5; }
		#pl .pl1 .pl2 { width:1200px; height:90px; background:#f5f5f5; margin:0 auto; }
		#pl .pl1 .pl2 li { display:inline-block; line-height:90px; }
		#pl .pl1 .pl2 .pl6 { margin-right:85px; }
		#pl .pl1 .pl2 img { margin:20px 0 0 10px; }
		#pl .pl1 .pl2 img:hover { opacity:0.6; }
		#pl .pl1 .pl2 p { font-size:20px; display:inline-block; vertical-align:top; }
		#pl .pl1 .pl2 p:hover { color:#ff6700; }
		#pl .pl3 { width:1200px; height:160px; margin:0 auto; }
		#pl .pl3 ul { display:inline-block; vertical-align:top; }
		#pl .pl3 .pl5 { margin-right:195px; }
		#pl .pl3 .pl5 { font-size:12px; color:#a27c9e; }
		#pl .pl3 .pl4 { font-size:18px; }
		#pl .pl3 li:nth-child(1) { margin:10px 0; }
		#pl .pl3 a:hover { color:#ff6700; }

		/*底部*/
		#liu { width: 100%; height: 196px; background: #eee; }
  	.li { width: 1200px; height: 196px; border-top: 1px solid #d6d3d3; margin: 0 auto; }
  	.ming { margin-left: 119px; margin-top: 15px; }
  	.ming>a,.liu_2>a,.li_2>a,.ming_2>a,.liu_3>a { text-decoration:none; font-size: 12px; color: #666; margin-left: 3px; margin-right: 8px; }
  	.ming>a:hover { color: red; }
  	.ming>span,.liu_2>span,.liu_3>span,.ming_2>span,.li_2>span { font-size: 12px; color: #666; }
  	.liu_2 { margin-left: 195px; }
  	.liu_2>a>img { float: left; margin-top: 1px; }
  	.liu_2>a:nth-child(1):hover { color: red; }
  	.liu_2>a:nth-child(5):hover { color: red; }
  	.li_2 { margin-left: 168px; }
  	.li_2>a:nth-child(1):hover { color: red; }
  	.li_2>a:nth-child(5):hover { color: red; }
  	.li_2>a:nth-child(7):hover { color: red; }
  	.ming_2 { margin-left: 320px; }
  	.ming_3:hover { color: red; }
  	.liu_3 { margin-left: 485px; }
  	.liu_4:hover,.liu_5:hover { color:red; }
  	.li_3>img { cursor: pointer; margin-left: 10px; }
  	.li_3 { margin-left: 230px; margin-top: 15px; }